@model kidzkonnect2._0.Models.Activite
<!-- Définition de la page -->
@{
    ViewData["Title"] = "Create";
}

<!-- Styles CSS -->
<style>
    /* Style pour le formulaire */
    .form {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        border: 3px solid #E9E8E9; /* Couleur et épaisseur de la bordure */
        border-radius: 10px; /* Bordures arrondies */
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

        /* Style pour le titre du formulaire */
        .form h2 {
            text-align: center;
        }

    /* Style pour le conteneur des boutons */
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<!-- Contenu de la page -->
<div class="form my-5">
    <!-- Titre du formulaire -->
    <h3 class="title">Create Activity</h3>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdUtilisateurCreateur" />

        <!-- Champ pour le titre de l'activité -->
        <div class="mb-3">
            <label asp-for="TitreActivite" class="control-label">Title:</label>
            <input asp-for="TitreActivite" class="form-control" />
            <span asp-validation-for="TitreActivite" class="text-danger"></span>
        </div>

        <!-- Champ pour la description de l'activité -->
        <div class="mb-3">
            <label asp-for="DescriptionActivite" class="control-label">Description:</label>
            <input asp-for="DescriptionActivite" class="form-control" />
            <span asp-validation-for="DescriptionActivite" class="text-danger"></span>
        </div>

        <!-- Champ pour la date et l'heure de l'activité -->
        <div class="mb-3">
            <label asp-for="DateActivite" class="control-label">Date and time:</label>
            <input asp-for="DateActivite" class="form-control" />
            <span asp-validation-for="DateActivite" class="text-danger"></span>
        </div>

        <!-- Champ pour l'emplacement de l'activité -->
        <div class="mb-3">
            <label asp-for="Emplacement" class="control-label">Location:</label>
            <input asp-for="Emplacement" class="form-control" />
            <span asp-validation-for="Emplacement" class="text-danger"></span>
        </div>

        <!-- Champ pour les détails supplémentaires de l'activité -->
        <div class="mb-3">
            <label asp-for="DetailsAdditionnel" class="control-label">Additional Details:</label>
            <input asp-for="DetailsAdditionnel" class="form-control" />
            <span asp-validation-for="DetailsAdditionnel" class="text-danger"></span>
        </div>

        <div class="form-row">
            <!-- Colonne pour les boutons de création et d'annulation -->
            <div class="form-group col-md-6 text-right">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a href="@Url.Action("Index", "Home")" class="btn btn-secondary ml-2">Cancel</a>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
