@model kidzkonnect2._0.Models.Activite
<!-- Définition de la page -->
@{
    ViewData["Title"] = "Delete";
}

<!-- Styles CSS -->
<style>
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 400px;
        padding-top: 100px;
    }

    .confirmation-box {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        text-align: center;
    }
</style>

<!-- Conteneur pour la boîte de confirmation de suppression -->
<div class="centered-container">
    <!-- Boîte de confirmation de suppression -->
    <div class="confirmation-box">
        <h2>Confirm deletion?</h2>
        <h4>This action is irreversible.</h4>
        <!-- Détails de l'activité à supprimer -->
        <div class="activity-details">
            <p>@Model.TitreActivite, @Model.Emplacement</p> <!-- Affiche le titre de l'activité et son emplacement -->
        </div>
        <!-- Formulaire pour la soumission de la suppression -->
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="IdActivite" />
            <button type="submit" class="btn btn-danger">Delete</button> <!-- Bouton pour valider la suppression -->
            <a href="@Url.Action("Index")" class="btn btn-primary">Go back</a> <!-- Bouton pour annuler et revenir à la page précédente -->
        </form>
    </div>
</div>