@model kidzkonnect2._0.Models.Utilisateur
<!-- Définition de la page -->
@{
    ViewData["Title"] = "Edit";
}

<!-- Styles CSS -->
<style>
    /* Style pour le formulaire */
    .form {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        border: 3px solid #E9E8E9;
        border-radius: 10px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    /* Style pour le titre du formulaire */
    .form h2 {
        text-align: center;
    }

    /* Style pour le conteneur des boutons */
    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
    }

    /* Style pour les boutons */
    .right-buttons {
        display: flex;
        justify-content: flex-end;
    }

    .right-buttons .btn-secondary {
        margin-left: 10px;
    }
</style>

<!-- Contenu de la page -->
<div class="form my-5">
    <!-- Titre du formulaire -->
    <h3 class="title">Edit Account</h3>
    <!-- Formulaire d'inscription -->
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdUtilisateur" />

        <!-- Champ prenom -->
        <div class="mb-3">
            <label asp-for="Prenom" class="control-label"></label>
            <span asp-validation-for="Prenom" class="text-danger"></span>
            <input asp-for="Prenom" class="form-control" />
        </div>

        <!-- Champ nom -->
        <div class="mb-3">
            <label asp-for="Nom" class="control-label"></label>
            <span asp-validation-for="Nom" class="text-danger"></span>
            <input asp-for="Nom" class="form-control" />
        </div>

        <!-- Champ date de naissance -->
        <div class="mb-3">
            <label asp-for="DateNaissance" class="control-label"></label>
            <span asp-validation-for="DateNaissance" class="text-danger"></span>
            <input asp-for="DateNaissance" class="form-control" />
        </div>

        <!-- Champ adresse -->
        <div class="mb-3">
            <label asp-for="Adresse" class="control-label">Town:</label>
            <span asp-validation-for="Adresse" class="text-danger"></span>
            <input asp-for="Adresse" class="form-control" />
        </div>

        <!-- Champ courriel -->
        <div class="mb-3">
            <label asp-for="Courriel" class="control-label"></label>
            <span asp-validation-for="Courriel" class="text-danger"></span>
            <input asp-for="Courriel" class="form-control" />
        </div>

        <!-- Champ mot de passe -->
        <div class="mb-3">
            <label asp-for="Password" class="control-label"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="Password" type="password" class="form-control" />
        </div>

        <!-- Champ pour choisir l'image -->
        <div class="mb-3 form-group">
            <label for="userPicture" class="form-label">Profile Picture (JPG, PNG only):</label>
            <input type="file" class="form-control" id="userPicture" name="userPicture" accept=".jpg, .jpeg, .png" required>
        </div>

        <!-- Boutons d'action du formulaire -->
        <div class="button-container">
            <!-- Bouton supprimer compte-->
            <a asp-action="Delete" asp-route-id="@Model.IdUtilisateur" class="btn btn-danger"
               onclick="event.preventDefault(); if(confirm('Are you sure you want to delete this user?')) { window.location.href = this.href; }">
                Delete User
            </a>
            <!-- Boutons pour enregistrer et pour annuler-->
            <div class="right-buttons">
                <input type="submit" value="Save Changes" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}