@model kidzkonnect2._0.Models.ProfilEnfant
<!-- Définition de la page -->
@{
    ViewData["Title"] = "Edit";
}

<!-- Styles CSS -->
<style>
    /* Style pour le formulaire */
    .form {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        border: 3px solid #E9E8E9;
        border-radius: 10px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
        /* Style pour le titre du formulaire */
        .form h2 {
            text-align: center;
        }

    /* Style pour le conteneur des boutons */
    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
    }

    /* Style pour les boutons à droite du conteneur */
    .right-buttons {
        display: flex;
        justify-content: flex-end;
    }

        /* Style pour le bouton "Cancel" à gauche des boutons de droite */
        .right-buttons .btn-secondary {
            margin-left: 10px;
        }
</style>

<!-- Contenu de la page -->
<div class="form my-5">
    <!-- Titre du formulaire -->
    <h3 class="title">Edit Profile</h3>
    <!-- Formulaire d'édition de profil -->
    <form asp-action="Edit">
        <!-- Id du profil -->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdProfil" />

        <!-- Champ pour le prénom -->
        <div class="mb-3">
            <label asp-for="Prenom" class="form-label">First name:</label>
            <input asp-for="Prenom" class="form-control" placeholder="Enter first name">
            <span asp-validation-for="Prenom" class="text-danger"></span>
        </div>

        <!-- Champ pour le nom de famille -->
        <div class="mb-3">
            <label asp-for="Nom" class="form-label">Last name:</label>
            <input asp-for="Nom" class="form-control" placeholder="Enter last name">
            <span asp-validation-for="Nom" class="text-danger"></span>
        </div>

        <!-- Champ pour la date de naissance -->
        <div class="mb-3">
            <label asp-for="DateNaissance" class="form-label">Date of birth:</label>
            <input asp-for="DateNaissance" class="form-control" type="date">
            <span asp-validation-for="DateNaissance" class="text-danger"></span>
        </div>

        <!-- Champ pour sélectionner le genre -->
        <div class="mb-3">
            <label asp-for="Genre" class="form-label">Gender:</label>
            <select asp-for="Genre" class="form-control">
                <option value="">Select Gender</option>
                <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="other">Other</option>
            </select>
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>

        <!-- Champ pour les loisirs -->
        <div class="mb-3">
            <label asp-for="Interets" class="form-label">Hobbies:</label>
            <input asp-for="Interets" class="form-control" placeholder="Choose new hobbies">
            <span asp-validation-for="Interets" class="text-danger"></span>
        </div>

        <!-- Champ pour les spécifications -->
        <div class="mb-3">
            <label asp-for="Defis" class="form-label">Specifications:</label>
            <input asp-for="Defis" class="form-control" placeholder="Modify the specifications of your child">
            <span asp-validation-for="Defis" class="text-danger"></span>
        </div>

        <!-- Champ pour sélectionner un avatar -->
        <div class="mb-3">
            <label asp-for="AvatarFk" class="form-label">Select an AVATAR:</label>
            <select asp-for="AvatarFk" class="form-control">
                <option value="">Please select an avatar</option>
                @foreach (var avatar in ViewBag.Avatars)
                {
                    <option value="@avatar.Value">@avatar.Text</option>
                }
            </select>
            <span asp-validation-for="AvatarFk" class="text-danger"></span>
        </div>

        <!-- Conteneur des boutons -->
        <div class="button-container">
            <!-- Bouton pour supprimer le profil -->
            <a asp-action="Delete" asp-route-id="@Model.IdProfil"
               class="btn btn-danger"
               onclick=>Delete Profile</a>
            <div class="right-buttons">
                <!-- Boutons de droite (Sauvegarder les modifications, Annuler) -->
                <input type="submit" value="Save Changes" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
